@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Raleway&display=swap');
h1{
  text-align: center;
  font-weight: 500px;
}
h1,h4{
  font-family: 'Dancing Script', cursive;
  color: crimson;
}
h4{
  letter-spacing: 10px;
}
#first-paragraph{
  font-weight: bold;
  text-decoration: underline;
word-spacing: 2px;
line-height: 30px;
}
#large-paragraph{
  font-weight: bold;
  text-decoration: underline;
word-spacing: 2px;
line-height: 30px;
text-align: right;
color: rgb(214, 188, 18);
}

.next-paragraph {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 22px;
  text-align: center;
}
h2{
  font-family: 'Indie Flower', cursive;
  text-decoration: line-through;
}




