@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0D3244;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  width: 300px;
  z-index: 1;
  position: absolute;
  background-color: #0E4D71;
  left: -300px;
  height: 100%;
}
.sidebar:hover {
  left: 0;
}
.sidebar:hover .hamburger {
  display: none;
}
.sidebar li:nth-child(odd) a {
  color: #fff;
}
.sidebar ul {
  width: 100%;
  list-style: none;
}
ul li {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #0E4D71;
  color: #737791;
}
ul li a {
  color: #737791;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  background-color: #0E4D71;
  margin-left: 20px;
}
label img {
  margin-right: -80px;
  position: absolute;
  right: -40px;
  top: 30px;
  cursor: pointer;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  width: 300px;
  opacity: 0.5;
}
.product-card:hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  width: 300px;
  opacity: 1;
}

.scroll-container {
  position: relative;
  max-width: 200px;
  margin-bottom: 30px;
}
.scroll-container img {
  background-color: #fff;
  height: 200px;
  width: 200px;
}
.scroll {
  display: flex;
  overflow: auto;
  cursor: grab;
}
.more-about {
  background-color: #fff;
  cursor: help;
  border: 1px solid black;
  width: 250px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  font-weight: 600;
}
.product-card p {
  font-size: 14px;
  background-color: #fff;
  align-self: flex-start;
  font-weight: 500;
}
.product-card .product-name {
  font-size: 25px;
}
.product-card .price {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}
.product-card .product-detail {
  font-size: 17px;
  display: none;
}
.more-about:active ~ * {
  display: none;
}
.more-about:active ~ .product-detail {
  display: block;
}
.more-about:active {
  background-color: #0D3244;
  color: #fff;
}
.languages {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.language {
  width: 240px;
  height: 240px;
}
.language img {
  height: 100%;
  width: 100%;
}
.language .text {
  display: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: text;
  overflow-y: scroll;
  height: 100%;
  font-weight: 500;
}
.languages .language:hover img {
  display: none;
}
.languages .language:hover .text {
  display: block;
}